%br

= form_for @user, :url => { :action => "reset_password" } do |f|
  =f.label :password
  =f.password_field :password
  =f.label :password_confirmation
  =f.password_field :password_confirmation
  %br
  =f.submit
  