%br
%table.table
  %tr
    %th
      Notification
    %th
      Dates / Times
    %th
      Sent Time
  - @notification.schedules.each do |schedule|
    %tr
      %td
        = @notification.body
      %td
        = schedule.time.localtime.strftime("%A %b %-d %Y at %I:%M:%S %p")
      %td
        = schedule.sent_time if schedule.sent_time != nil
      %td
        = link_to "Delete", notification_schedule_path(@notification, schedule), confirm: "Are you sure", method: :delete
%br
=link_to "Back", notifications_path
